<section class="flex justify-center">
  <a href="/Curriculum.pdf" download class="text-lg border-solid border-black dark:border-white rounded-lg border-2 font-medium flex items-center gap-4 px-6 py-2">
    <svg width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path class="stroke-black dark:stroke-white" d="M19.191 23.9149V7.42188M19.191 23.9149C18.0712 23.9149 15.9789 20.6257 15.1928 19.7917M19.191 23.9149C20.3107 23.9149 22.403 20.6257 23.1891 19.7917" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path class="stroke-black dark:stroke-white" d="M31.9849 27.2135C31.9849 31.3071 31.1565 32.1614 27.1872 32.1614H11.1947C7.2254 32.1614 6.39699 31.3071 6.39699 27.2135" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>

    Meu currículo
  </a>
</section>